* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ================Common================== */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    width: 118px;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    background: #171100;
    border-radius: 24.5px;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* ================Header================== */

.fixed {
    position: sticky;
    top: -28px;
    background-color: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header ul {
    display: flex;
}

.nav {
    margin-left: auto;
}

.nav li {
    position: relative;
    padding: 0px 24px;
}

.nav li a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5f5b53;
}

.nav li.actived a,
.nav li a:hover {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;

    font-size: 1.6rem;
    text-align: center;
    color: #171100;
}

.nav li.actived::before {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    left: 25px;
    bottom: 1px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    width: 144px;
    min-width: 144px;
    margin-left: 70px;
}

/* ================Hero================== */

.hero {
    padding-top: 64px;
    padding-bottom: 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .content-block {
    width: 52%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .media-block .hero-summary {
    position: absolute;
    right: 0px;
    bottom: 48px;
    width: 270px;
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.hero .media-block .hero-summary .item {
    display: flex;
    margin-top: 14px;
}

.hero .media-block .hero-summary .item:nth-child(1) {
    margin-top: 0;
}

.hero .media-block .hero-summary .item .info {
    margin-left: 16px;
}

.hero .media-block .hero-summary .item .info .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero .media-block .hero-summary .item .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67x;
    color: #171100;
}

.hero .media-block .hero-summary .item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.hero .media-block .hero-summary .item:nth-of-type(1) .icon {
    background: #fff9e8;
}
.hero .media-block .hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}
.hero .media-block .hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero .content-block {
    padding: 64px 0px 0px 130px;
}

.hero .content-block .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .content-block .desc {
    margin: 22px 0px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .content-block .cta-group {
    display: flex;
    margin: 38px 0 48px;
    gap: 28px;
}

.hero .content-block .cta-group .btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    min-width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    background: #ffb900;
    border-radius: 32px;
}

.hero .content-block .cta-group .watch-video {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fffcf4;
}

.hero .content-block .cta-group .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .content-block .cta-group .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block strong {
    margin-left: 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero .content-block strong:nth-child(1) {
    margin-left: 0;
}

/* ================Popular================== */

.popular {
    padding: 200px 0px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .info {
    width: 458px;
}

.popular-top .info .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular-top .info .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .controls .btn-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    background-color: transparent;
}

.popular-top .controls .btn-control:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-list .course-item {
    background: #fff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.popular .course-list .course-item .details {
    padding: 16px 22px 22px 22px;
}

.popular .course-list .course-item .thumb {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.popular .course-list .course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-list .course-item .head .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .course-list .course-item .rating {
    display: flex;
    gap: 6px;
}

.popular .course-list .course-item .rating .value {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.popular .course-list .course-item .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .course-list .course-item .booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.popular .course-list .course-item .booking .cost {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .course-list .course-item .booking .btn-booking:hover {
    background-color: var(--primary-color);
}

/* ================Feedback================== */

.feedback {
    background: #2e2100;
}

.feedback-item {
    display: flex;
    padding: 96px 0px;
}

.feedback-item .info {
    width: 159px;
    min-width: 159px;
}

.feedback-item .info .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item .info .name {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-item .info .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .info .dots {
    display: flex;
    gap: 6px;
}

.feedback-item .info .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}

.feedback-item .info .dot:hover {
    background-color: var(--primary-color);
}

.feedback-item .content {
    width: 66%;
    min-width: 66%;
    margin-left: auto;
}

.feedback-item .content .quote {
    margin-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* ================Features================== */

.features {
    padding: 200px 0;
}

.features .body {
    display: flex;
}

.features .body .images {
    display: flex;
    gap: 30px;
}

.features .body .images .img {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 12px;
}

.features .body .images .img:nth-child(1) {
    margin-top: 34px;
}

.features .content {
    padding: 58px 0px 58px 130px;
}

.features .content .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.features .content .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .content .btn {
    margin-top: 32px;
    width: 137px;
    min-width: 137px;
    background-color: var(--primary-color);
}

.features-2 .body {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.features-2 .content {
    padding-left: 0;
    width: 49%;
}

.features-2 .body .images .img {
    width: 470px;
    height: 440px;
}

.features-2 {
    padding-top: 0;
}

/* ================Blog================== */

.blog {
    background-color: #fffcf4;
    padding: 96px 0px;
}

.blog .blog-top {
    width: 448px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.blog .blog-top .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #130606;
}

.blog .blog-top .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog .blog-list {
    display: flex;
    gap: 30px;
}

.blog .blog-list .blog-item {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.blog .blog-list .blog-item .thumb {
    width: 100%;
    height: 250px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.blog .blog-list .blog-item .info {
    padding: 20px 20px 28px;
}

.blog-item .info .date {
    display: flex;
    align-items: center;
    gap: 4px;
}

.blog-item .info .date .point {
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.blog-item .info .date p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog-item .info .line {
    width: 160px;
    margin: 12px 0px;
    border: 0.5px solid #e2dfda;
    border-radius: 0.5px;
}

.blog-item .info .title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog-item .info .btn {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.blog-item .info .btn:hover {
    background-color: var(--primary-color);
}

.blog .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.blog .dots .dot {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5f5b53;
}

.blog .dots .actived {
    background-color: var(--primary-color);
}

/* ================Footer================== */

.footer {
    padding: 96px 0px 28px;
    background-color: #2e2100;
}

.footer .row {
    display: flex;
}

.footer .column {
    width: 21.6%;
}

.footer .column:nth-child(1) {
    width: 35%;
}

.footer .column:nth-child(1) .desc {
    max-width: 267px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .column:not(:nth-child(1)) .heading {
    position: relative;
    margin-bottom: 43px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer .column:not(:nth-child(1)) .heading::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -14px;
    width: 100%;
    max-width: 130px;
    border: 0.5px solid #59554b;
}

.footer .column:not(:nth-child(1)) li {
    margin-bottom: 12px;
}

.footer .column:not(:nth-child(1)) li a {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .column:last-child li {
    max-width: 231px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .column:last-child strong {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #ffffff;
}

.footer .line {
    margin-top: calc(38px - 12px);
    width: 100%;
    border: 0.5px solid #59554B;;
}

.footer .copyright {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807D74;
}
